---
import Asistente from "./Asistente.astro";
import Card from "./Card.astro";
import Header from "./Header.astro";

---

<Header title="Empresa de Electricidad en Madrid" description="Desde un cortocircuito hasta un fallo en el cuadro eléctrico, estamos preparados para diagnosticar y reparar cualquier problema eléctrico en tu hogar o negocio." />

<section class="flex gap-8 flex-wrap justify-center items-center container mx-auto py-10 px-4 md:px-0">
    <Card title="Averias en vivienda" description="Cortocircuitos, sobrecargas, fallos en el cuadro eléctrico, problemas con enchufes e interruptores, etc." image="./assets/averias.webp" alt="Averias en vivienda" llama/>
    <Card title="Averias en industria" description="Mantenimiento y reparación de instalaciones eléctricas industriales." image="./assets/averiasind.webp" alt="Averias industriales" llama />
</section>

<Asistente />