---
import Asistente from "./Asistente.astro";
import Card from "./Card.astro";
import Header from "./Header.astro";

---

<Header title="Empresa de Electricidad en Madrid" description="Nuestros sistemas domóticos te permiten integrar diferentes dispositivos y tecnologías, como asistentes virtuales, cámaras de seguridad y sistemas de audio. Disfruta de una casa inteligente y conectada." />

<section class="flex gap-8 flex-wrap justify-center items-center container mx-auto py-10 px-4 md:px-0">
    <Card title="Iluminación" description="Descubre la iluminación inteligente. Con nuestros sistemas, podrás controlar las luces de tu hogar de forma intuitiva, ajustando la intensidad y el color según tus necesidades." image="../assets/domotica.webp" alt="Domotica iluminaciñon" llama />
    <Card title="Climatización" description="Disfruta de un confort térmico óptimo en tu hogar u oficina. Nuestros sistemas de climatización te permiten controlar la temperatura, la humedad y la calidad del aire de forma eficiente y personalizada." image="../assets/domotica2.webp" alt="Domotica confort" llama />
    <Card title="Seguridad" description="Te ofrecemos una amplia gama de soluciones para proteger tu hogar o negocio, desde alarmas y cámaras de vigilancia hasta control de acceso y sistemas de detección de incendios." image="../assets/domotica.webp" alt="Domotica seguridad" llama />
</section>

<Asistente />