---
import Card from "./Card.astro";
import Header from "./Header.astro";
---
<Header 
title="Empresa de Electricidad en Madrid" 
description="Electricistas en Madrid. Especializados en servicios eléctricos en Madrid. Desde hace más de 15 años, brindamos a nuestros clientes soluciones efectivas y seguras, cubriendo todo desde instalaciones eléctricas hasta mantenimientos y reparaciones. Contamos con un equipo de electricistas certificados y experimentados que están disponibles para asegurar que tu hogar o negocio siempre estén funcionando sin interrupciones. Priorizamos la calidad y la seguridad en cada proyecto, utilizando los materiales más innovadores y de la mejor calidad del mercado."
/>

<section class="flex gap-8 flex-wrap justify-center items-center container mx-auto py-10 px-4 md:px-0">


    <Card 
        llama 
        title="Electricistas en Alcalá de Henares" 
        description="Somos una empresa especializada en instalaciones eléctricas en Alcala de Henares, comprometida con ofrecer soluciones integrales y de alta calidad para hogares, negocios e industrias." 
        image="../assets/Alcala_de_Henares.webp"
        href="/instalaciones" 
        alt="Instalaciones en vivienda" 
    />

    <Card 
        llama 
        title="Electricistas en Alcobendas"
        description="Somos una empresa especializada en instalaciones eléctricas en Alcobendas, comprometida con ofrecer soluciones integrales y de alta calidad para hogares, negocios e industrias." 
        image="../assets/Escudo_de_Alcobendas.svg" 
        href="/instalaciones" 
        alt="Instalaciones en vivienda" 
    />

    <Card 
        llama 
        title="Electricistas en Alcorcón"
        description="Somos una empresa especializada en instalaciones eléctricas en Alcorcón, comprometida con ofrecer soluciones integrales y de alta calidad para hogares, negocios e industrias." 
        image="../assets/alcorcon.webp" 
        href="/instalaciones" 
        alt="Instalaciones en vivienda"
    />

    <Card 
        llama 
        title="Electricistas en Arganda del Rey"
        description="Somos una empresa especializada en instalaciones eléctricas en Arganda del Rey, comprometida con ofrecer soluciones integrales y de alta calidad para hogares, negocios e industrias." 
        image="../assets/arganda.webp" 
        href="/instalaciones" 
        alt="Instalaciones en vivienda"
    />

    <Card 
        llama 
        title="Electricistas en Algete"
        description="Somos una empresa especializada en instalaciones eléctricas en Algete, comprometida con ofrecer soluciones integrales y de alta calidad para hogares, negocios e industrias." 
        image="../assets/algete.webp" 
        href="/instalaciones" 
        alt="Instalaciones en vivienda"
    />

    <Card 
        llama 
        title="Electricistas en Campo Real"
        description="Somos una empresa especializada en instalaciones eléctricas en Campo Real, comprometida con ofrecer soluciones integrales y de alta calidad para hogares, negocios e industrias." 
        image="../assets/campoReal.webp" 
        href="/instalaciones" 
        alt="Instalaciones en vivienda"
    />

    <Card 
        llama 
        title="Electricistas en Coslada"
        description="Somos una empresa especializada en instalaciones eléctricas en Coslada, comprometida con ofrecer soluciones integrales y de alta calidad para hogares, negocios e industrias." 
        image="../assets/coslada.webp" 
        href="/instalaciones" 
        alt="Instalaciones en vivienda"
    />

    <Card 
        llama 
        title="Electricistas en Getafe"
        description="Somos una empresa especializada en instalaciones eléctricas en Getafe, comprometida con ofrecer soluciones integrales y de alta calidad para hogares, negocios e industrias." 
        image="../assets/getafe.webp" 
        href="/instalaciones" 
        alt="Instalaciones en vivienda"
    />

    <Card 
        llama 
        title="Electricistas en Leganés"
        description="Somos una empresa especializada en instalaciones eléctricas en Leganés, comprometida con ofrecer soluciones integrales y de alta calidad para hogares, negocios e industrias." 
        image="../assets/leganes.webp" 
        href="/instalaciones" 
        alt="Instalaciones en vivienda"
    />

    <Card 
        llama 
        title="Electricistas en Loeches"
        description="Somos una empresa especializada en instalaciones eléctricas en Loeches, comprometida con ofrecer soluciones integrales y de alta calidad para hogares, negocios e industrias." 
        image="../assets/loeches.webp" 
        href="/instalaciones" 
        alt="Instalaciones en vivienda"
    />

    <Card 
        llama 
        title="Electricistas en Madrid"
        description="Somos una empresa especializada en instalaciones eléctricas en Madrid, comprometida con ofrecer soluciones integrales y de alta calidad para hogares, negocios e industrias." 
        image="../assets/madrid.webp" 
        href="/instalaciones" 
        alt="Instalaciones en vivienda"
    />

    <Card 
        llama 
        title="Electricistas en Majadahonda"
        description="Somos una empresa especializada en instalaciones eléctricas en Majadahonda, comprometida con ofrecer soluciones integrales y de alta calidad para hogares, negocios e industrias." 
        image="../assets/majadahonda.webp" 
        href="/instalaciones" 
        alt="Instalaciones en vivienda"
    />

    <Card 
        llama 
        title="Electricistas en Móstoles"
        description="Somos una empresa especializada en instalaciones eléctricas en Móstoles, comprometida con ofrecer soluciones integrales y de alta calidad para hogares, negocios e industrias." 
        image="../assets/mostoles.webp" 
        href="/instalaciones" 
        alt="Instalaciones en vivienda"
    />

    <Card 
        llama 
        title="Electricistas en Paracuellos de Jarama"
        description="Somos una empresa especializada en instalaciones eléctricas en Paracuellos de Jarama, comprometida con ofrecer soluciones integrales y de alta calidad para hogares, negocios e industrias." 
        image="../assets/paracuellos.webp" 
        href="/instalaciones" 
        alt="Instalaciones en vivienda"
    />

    <Card 
        llama 
        title="Electricistas en Parla"
        description="Somos una empresa especializada en instalaciones eléctricas en Parla, comprometida con ofrecer soluciones integrales y de alta calidad para hogares, negocios e industrias." 
        image="../assets/parla.webp" 
        href="/instalaciones" 
        alt="Instalaciones en vivienda"
    />

    <Card 
        llama 
        title="Electricistas en Pinto"
        description="Somos una empresa especializada en instalaciones eléctricas en Pinto, comprometida con ofrecer soluciones integrales y de alta calidad para hogares, negocios e industrias." 
        image="../assets/pinto.webp" 
        href="/instalaciones" 
        alt="Instalaciones en vivienda"
    />

    <Card 
        llama 
        title="Electricistas en Pozuelo de Alarcón"
        description="Somos una empresa especializada en instalaciones eléctricas en Pozuelo de Alarcón, comprometida con ofrecer soluciones integrales y de alta calidad para hogares, negocios e industrias." 
        image="../assets/pozuelo.webp" 
        href="/instalaciones" 
        alt="Instalaciones en Pozuelo de Alarcón"
    />

    <Card 
        llama 
        title="Electricistas en Rivas - Vaciamadrid"
        description="Somos una empresa especializada en instalaciones eléctricas en Rivas - Vaciamadrid, comprometida con ofrecer soluciones integrales y de alta calidad para hogares, negocios e industrias." 
        image="../assets/rivas.webp" 
        href="/instalaciones" 
        alt="Instalaciones en Rivas - Vaciamadrid"
    />

    <Card 
        llama 
        title="Electricistas en San Fernando de Henares"
        description="Somos una empresa especializada en instalaciones eléctricas en San Fernando de Henares, comprometida con ofrecer soluciones integrales y de alta calidad para hogares, negocios e industrias." 
        image="../assets/sanfernando.webp"
        href="/instalaciones" 
        alt="Instalaciones en San Fernando de Henares"
    />

    <Card 
        llama 
        title="Electricistas en Torrejón de Ardoz"
        description="Somos una empresa especializada en instalaciones eléctricas en Torrejón de Ardoz, comprometida con ofrecer soluciones integrales y de alta calidad para hogares, negocios e industrias." 
        image="../assets/torrejon.webp"
        href="/instalaciones" 
        alt="Instalaciones en Torrejón de Ardoz"
    />

    <Card 
        llama 
        title="Electricistas en Torrelodones"
        description="Somos una empresa especializada en instalaciones eléctricas en Torrelodones, comprometida con ofrecer soluciones integrales y de alta calidad para hogares, negocios e industrias." 
        image="../assets/torrelodones.webp"
        href="/instalaciones" 
        alt="Instalaciones en Torrelodones"
    />

    <Card 
        llama 
        title="Electricistas en Tres Cantos"
        description="Somos una empresa especializada en instalaciones eléctricas en Tres Cantos, comprometida con ofrecer soluciones integrales y de alta calidad para hogares, negocios e industrias." 
        image="../assets/trescantos.webp"
        href="/instalaciones" 
        alt="Instalaciones en Tres Cantos"
    />

    <Card 
        llama 
        title="Electricistas en Valdemoro"
        description="Somos una empresa especializada en instalaciones eléctricas en Valdemoro, comprometida con ofrecer soluciones integrales y de alta calidad para hogares, negocios e industrias." 
        image="../assets/valdemoro.webp"
        href="/instalaciones" 
        alt="Instalaciones en Valdemoro"
    />

    <Card 
        llama 
        title="Electricistas en Villalbilla"
        description="Somos una empresa especializada en instalaciones eléctricas en Villalbilla, comprometida con ofrecer soluciones integrales y de alta calidad para hogares, negocios e industrias." 
        image="../assets/villalvilla.webp"
        href="/instalaciones" 
        alt="Instalaciones en Villalbilla"
    />
</section>