---
import Asistente from "./Asistente.astro";
import Card from "./Card.astro";
import Header from "./Header.astro";
---
<main>
    <Header 
        title="Empresa de Electricidad en Madrid" 
        description="Electricistas en Madrid. Especializados en servicios eléctricos en Madrid. Desde hace más de 15 años, brindamos a nuestros clientes soluciones efectivas y seguras, cubriendo todo desde instalaciones eléctricas hasta mantenimientos y reparaciones. Contamos con un equipo de electricistas certificados y experimentados que están disponibles para asegurar que tu hogar o negocio siempre estén funcionando sin interrupciones. Priorizamos la calidad y la seguridad en cada proyecto, utilizando los materiales más innovadores y de la mejor calidad del mercado."
    />

    <section class="flex gap-8 flex-wrap justify-center items-center container mx-auto py-10 px-4 md:px-0">
        <Card 
            button="Info" 
            title="Instalaciones eléctricas" 
            description="Somos una empresa especializada en instalaciones eléctricas en Madrid, comprometida con ofrecer soluciones integrales y de alta calidad para hogares, negocios e industrias. Con años de experiencia en el sector." 
            image="../assets/instalacion.webp" 
            href="/instalaciones" 
            alt="Instalaciones en vivienda" 
        />
        <Card 
            button="Info" 
            title="Iluminación" 
            description="Trabajamos tanto en proyectos residenciales como comerciales, adaptándonos a las necesidades de nuestros clientes y ofreciendo sistemas modernos, sostenibles y energéticamente eficientes. " 
            image="../assets/iluminacion.webp" 
            href="/iluminacion" 
            alt="Iluminaciones" 
        />
        <Card 
            button="Info" 
            title="Averias eléctricas" 
            description="Ofrecemos un servicio rápido y eficiente para resolver cualquier problema eléctrico en tu hogar, negocio o industria. " 
            image="../assets/averias.webp" 
            href="/averias" 
            alt="Averias" 
        />
        <Card 
            button="Info" 
            title="Domotica" 
            description="Nuestros sistemas domóticos te permiten integrar diferentes dispositivos y tecnologías, como asistentes virtuales, cámaras de seguridad y sistemas de audio. " 
            image="../assets/domotica.webp" 
            href="/domotica" 
            alt="Domótica" 
        />
        
    </section>
</main>

<Asistente />