---
import Card from "./Card.astro";
import Header from "./Header.astro";
---
<main>
    <Header 
    title="Empresa de Electricidad en Madrid" 
    description="Electricistas en Madrid especializados en servicios eléctricos en Madrid. Desde hace más de 15 años, brindamos a nuestros clientes soluciones efectivas y seguras, cubriendo todo desde instalaciones eléctricas hasta mantenimientos y reparaciones. Contamos con un equipo de electricistas certificados y experimentados que están disponibles para asegurar que tu hogar o negocio siempre estén funcionando sin interrupciones. Priorizamos la calidad y la seguridad en cada proyecto, utilizando los materiales más innovadores y de la mejor calidad del mercado."
    carousel
    />

    <section class="flex gap-8 flex-wrap justify-center items-center container mx-auto py-10 px-4 md:px-0">
        <Card button="+ Info" title="Instalaciones eléctricas" description="Conoce las instalaciones en vivienda que brinda nuestro equipo." image="./assets/instalacion.webp" href="./instalaciones" alt="Instalaciones en vivienda" />
        <Card button="+ Info" title="Iluminacion" description="Conoce las instalaciones de iluminacion que brinda nuestro equipo de electricistas." image="./assets/iluminacion.webp" href="./averias" alt="Iluminaciones" />
        <Card button="+ Info" title="Averias eléctricas" description="Soluciones rápidas y eficientes para tus averías eléctricas." image="./assets/averias.webp" href="./averias" alt="Averias" llama />
        <Card button="+ Info" title="Domotica" description="Nuestros sistemas domóticos te permiten integrar diferentes dispositivos y tecnologías, como asistentes virtuales, cámaras de seguridad y sistemas de audio. " image="./assets/domotica.webp" href="./domotica" alt="Domótica" />
    </section>
</main>