---
import Asistente from "./Asistente.astro";
import Card from "./Card.astro";
import Header from "./Header.astro";
---
<main>
    <Header 
    title="Empresa de Eléctricidad en Madrid" 
    description="Instalaciones eléctricas en Madrid"
    />
    <section class="flex gap-8 flex-wrap justify-center items-center container mx-auto py-10 px-4 md:px-0">
        <Card 
            title="Obra nueva" 
            description="Realizamos instalaciones eléctricas en obra nueva, reformas y ampliaciones, garantizando un trabajo eficiente y seguro." 
            image="../assets/obra.webp" 
            alt="Obra nueva" 
            llama 
        />
        <Card 
            title="Comunidades" 
            description="Ofrecemos un servicio integral que incluye mantenimiento preventivo, reparación de averías y proyectos de reforma para garantizar la seguridad y el buen funcionamiento de las zonas comunes." 
            image="../assets/contadores.webp" 
            alt="Comunidades" 
            llama 
        />
        <Card 
            title="Comercios y locales" 
            description="Realizamos instalaciones eléctricas adaptadas a las necesidades de cada comercio, garantizando el cumplimiento de la normativa vigente." 
            image="../assets/local.webp" 
            alt="Comercios y locales" 
            llama 
        />
        <Card 
            title="Instalaciones industriales" 
            description="Realizamos instalaciones eléctricas industriales adaptadas a las necesidades de cada sector, garantizando la continuidad operativa de tu negocio." 
            image="../assets/industria.webp" 
            alt="Instalaciones industriales" 
            llama 
        />
        <Card 
            title="Cableado estructurado" 
            description="Diseñamos e instalamos sistemas de cableado estructurado personalizados para garantizar una conectividad rápida y fiable en tu empresa." 
            image="../assets/rj45.webp" 
            alt="Cableado estructurado" 
            llama 
        />
        <Card 
            title="Jardines y exteriores" 
            description="Realizamos instalaciones eléctricas adaptadas a las necesidades de cada jardín, garantizando la seguridad y el buen funcionamiento de tus equipos." 
            image="../assets/jardin.webp" 
            alt="Jardines y exteriores" 
            llama 
        />
    </section>
</main>

<Asistente />