---
import Formulario from "./Formulario.astro";
import Header from "./Header.astro";
---

<Header title="Empresa de Electricidad en Madrid" description="Contactanos por correo electrónico o telefónicamente" />
<section class="flex flex-col container mx-auto py-10 px-4 md:px-0 items-center">
    <Formulario />
</section>
